.chipdrive-body {
	width: 100%;
	height: calc(100% - 60px);
	overflow-y: scroll;

	.label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 15px 20px;
		border-radius: 5px;
		padding: 5px 10px;

		.label-text {
			font-size: 33px;
			font-weight: 600;
			color: $textColor;
			margin: 0;
			.label-icon {
				color: $textColor;
			}
		}
	}

	.breadcrumbs {
		display: flex;
		flex-direction: row;
		margin: 15px 20px;
    	padding: 5px 10px;
		overflow: scroll;

		.breadcrumb {
			padding: 5px;
			margin-right: 10px;
			border-radius: 5px;
			background: #CCCCCC;
			cursor: pointer;
			flex-shrink: 0;
		}

		.breadcrumb-seperator {
			padding: 5px;
			margin-right: 10px;
			border-radius: 5px;
		}
	}

	.list-container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
		grid-gap: 16px;
		justify-content: center;
		padding: initial;

		.list-item {
			position: relative;
			width: 130px;
			background: none;
			margin: 10px;
			padding: 10px;
			border-radius: 6px;
			animation: item-animation 0.3s forwards;
			-webkit-animation: item-animation 0.3s forwards;

			.item-option-icon {
				position: absolute;
				top: 10px;
				right: 10px;
				font-size: 18px;
				color: $textColorLight;
			}

			.list-item-inner {
				display: flex;
				flex-direction: column;
				justify-content: initial;
				align-items: center;
				width: 100%;

				.item-icon {
					color: $textColorLight;
					font-size: 70px;
					margin: 10px 0 0 0;
				}

				.item-label {
					margin: 20px 0 0 0;
					width: 100%;
					text-align: center;
					font-weight: 600;
					color: $textColor;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					&:hover {
						color: $chipGreen;
						text-decoration: underline;
					}
				}
			}
		}

		.list-item-selected {
			background: $hoverColor;
		}

		.list-item-droppable {
			transition: transform 0.3s ease-in-out;
			transform: scale(1.1);
			border: 2px solid $chipGreen;
		}
		.list-item-nondroppable {
			transition: all 0.3s ease-in-out;
			opacity: 0.4;
		}
	}

	.notice-container {
		padding: 40px 0;
		animation: item-animation 0.3s forwards;
		-webkit-animation: item-animation 0.3s forwards;


		.notice-text {
			text-align: center;
			font-weight: 600;
			color: $textColor;
			font-size: 22px;
		}

		.notice-icon {
			text-align: center;
			display: block;
			color: $textColor;
			font-size: 56px;
			margin: 20px auto;
		}
	}

	.error-container {
		padding: 40px 0;

		.error-text {
			text-align: center;
			font-weight: 600;
			color: $textColorWarning;
			font-size: 22px;
		}
	}

	.upload-round {
		position: fixed;
		right: 30px;
		bottom: 30px;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		border: none;
		font-size: 25px;
		color: #FFFFFF;
		box-shadow: 0 8px 28px rgb(0 0 0 / 28%);
		background: $chipGreen;
	}
}

@keyframes item-animation {
	0% {
		transform: scale(0.90);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}