@import "_colors.scss";

.cd-toast {
	width: 90%;
	height: 55px;
	position: fixed;
	bottom: 20px;
	left: 5%;
	z-index: 503;
	background: $modalColor;
	border-radius: 5px;
	box-shadow: 0 6px 21px 0 rgb(0 0 0 / 40%);

	-webkit-transform: translateY(50px);
	transform: translateY(50px);
	transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	transition: transform .3s ease-out,-webkit-transform .3s ease-out;
}

.cd-toast-done {
	-webkit-transform: none;
	transform: none;
}