.iteminfo-popup {
	padding: 10px;
	table {
		width: 100%;
		table-layout: fixed;

		tr {
			td {
				color: $textColor;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}
