.cd-option-modal {
	.cd-option-modal-button {
		display: flex;
		align-items: center;
		font-weight: 600;
		color: $textColor;
		width: 100%;
		height: 40px;
		border-radius: 5px;
		background: $buttonColor;
		margin: 5px 0;
		padding: 0 10px;
		font-size: 16px;
		border: none;
		outline: none;
		cursor: pointer;
		&:hover {
			background: $hoverColor;
		}
	}
}