<nav class="navbar navbar-expand navbar-light bg-light header sticky-top d-flex align-items-center justify-content-between">
    <i class="fas fa-bars hamburger ms-3"></i>
    <a href="/">
        <img class="d-block logo ms-3" src="/static/img/logo.png" alt="logo"/>
    </a>
    <div class="flex-fill"></div>
    <div class="d-flex align-items-center justify-content-center">
    </div>
</nav>