<div class="coldchip-sidebar coldchip-sidebar-hidden pt-3">
	<div class="text sidebar-close">
		<i class="fas fa-times cross"></i>
	</div>
	<a href="/">
		<button class="sidebar-item text" tabindex="0">
			<i class="fas fa-home me-2"></i>
			My Drive
		</button>
	</a>
	<a href="/browse">
		<button class="sidebar-item text" tabindex="0">
			<i class="fas fa-sitemap me-2"></i>
			Test
		</button>
	</a>
	<a href="/contact">
		<button class="sidebar-item text" tabindex="0">
			<i class="fas fa-id-card-alt me-2"></i>
			Contact
		</button>
	</a>
	<div class="sidebar-seperator"></div>
</div>
<div class="coldchip-sidebar-backdrop"></div>