.cd-login-modal {
	.login-header {
		font-size: 22px;
		font-weight: 600;
		color: $textColor;
		margin: 0;
	}


	.login-msg {
		display: none;
		font-size: 15px;
		font-weight: 600;
		color: $textColorWarning;
		margin: 8px 0 0 0;
	}


	.login-button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 38px;
		margin: 10px 0 0 0;
		background-color: $chipGreen;
		color: $textColorWhite;
		border: none;
		border-radius: 5px;

		.login-button-text {
			font-size: 17px;
			font-weight: 600;
			color: $textColorWhite;
		}
	}
}