.cd-preview-modal {
	.cd-preview-modal-image, .cd-preview-modal-audio {
		width: 100%;
	}

	.cd-preview-modal-video {
		width: 100%;
		height: 100%;
	}

	.cd-preview-modal-code {
		height: 500px;

		.cd-preview-modal-code-editor {
			height: calc(100% - 40px - 10px);
		}

		.cd-preview-modal-code-button {
			background: $chipGreen;
			border: none;
			border-radius: 5px;
			color: $textColorWhite;
			height: 40px;
			margin-top: 10px;
			width: 100%;
			font-weight: 600;
			outline: none;
		}
	}

	.notice-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		.notice-text {
			font-weight: 600;
			color: $textColorWarning;
			font-size: 26px;
		}

		.notice-icon {
			text-align: center;
			display: block;
			color: $textColorWarning;
			font-size: 56px;
		}

		.download-button {
			background: $chipGreen;
			border: none;
			border-radius: 5px;
			color: #fff;
			font-size: 16px;
			font-weight: 500;
			height: 40px;
			outline: 0;
			padding: 0 10px;
		}
	}
}